@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: Android;
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

:root {
    --cor0: #8DDBB9;
    --cor1: #52b68a;
    --cor2: #1BB365;
    --cor3: #0F8952;
    --cor4: #1B4331;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Android', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor1);    
    font-family: var(--fonte-padrao);
}

a.externo::after {
    content: '\00A0\1F517';
}

header {
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor4));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

header > h1 {
    color: #ffffff;
    font-family: var(--fonte-destaque);
    margin-bottom: 20px;
    font-size: 3em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.432);
}

header > p {
    color: #ffffff;
    font-size: 1.2em;
    max-width: 600px;
    margin: auto;
    margin-bottom: 30px;
    padding-right: 10px;
    padding-left: 10px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.432);
}

nav {
    background-color: var(--cor4);
    padding: 10px;
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.301);
}

nav > a {
    color: var(--cor1);
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition-duration: 0.5s;
}

nav > a:hover {
    background-color: var(--cor0);
    color: var(--cor4);
}

main {
    min-width: 300px;
    max-width: 1000px;
    background-color: #ffffff;
    margin: auto;
    margin-bottom: 30px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.473);
}

main h1 {
    font-family: var(--fonte-android);
    color: var(--cor4);
    font-size: 1.7em;
}

main h2 {
    font-family: var(--fonte-android);
    color: var(--cor3);
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor0), transparent);
    padding: 5px 15px;
    border-radius: 20px;
}

main p {
    text-align: justify;
    margin: 15px 0px;
    text-indent: 30px;
    line-height: 2em;
}

main strong {
    color: var(--cor3);
    font-weight: bold;
    padding: 0px 3px;
}

main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor4);
    background-color: var(--cor0);
    padding: 2px 6px;
}

main a:hover {
    text-decoration: underline;
    color: var(--cor3);
}

main img {
    width: 100%;
}

main img.pequena {
    max-width: 300px;
    display: block; /*uma imagem por padrão não é um bloco, portanto precisa utilizar display block*/
    margin: auto;
}

div.video {
    background-color: var(--cor4);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 60%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside {
    background-color: var(--cor0);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.384);
}

aside > h3 {
    background-color: var(--cor3);
    color: #ffffff;
    text-align: center;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;

}

aside > ul {
    list-style-type: '\2714\00A0\00A0'; /*esse modo não é compatível com todo navegador*/
    list-style-position: inside;
    columns: 2;
}


footer {
    background-color: var(--cor4);
    color: #ffffff;
    text-align: center;
    padding: 6px;
    font-size: 0.8em;
}